.popup__container {
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  position: relative; /* для позиционирования кнопки зыкрытия поп-апа */
}

@media screen and (max-width: 690px) {
  .popup__container {
    width: 282px;
  }
}
