.elements__trash {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
}

.elements__trash:hover {
  opacity: 0.5;
}
